{% load i18n static auth_tokens media_from_provider cache %}
<!--
Author: W1773ND
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}
            {% include 'core/snippets/color_and_icons.html' %}
        {% endblock %}
        <meta name="copyright" content="ikwen." >
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{% url 'home' %}" />
        <meta property="og:image" content="{% static 'afrobit/img/afrobit-logo-transparent.png' %}" />
        <meta property="og:title" content="{% trans "Afrobit" %}"/>
        <meta property="og:description" content="{% trans "Let's rock your destiny" %}">
        <meta property="description" content="{% trans "Let's rock your destiny" %}" />
		{% block page_title %}{% endblock %}
		{% block head_style %}
            <link rel="stylesheet" href="{% static 'kakocase/css/bootstrap.css' %}" />
            <link rel="stylesheet" href="{% static 'kakocase/css/font-awesome/css/font-awesome.min.css' %}" />
            <link rel="stylesheet" href="{% static 'kakocase/swiper/css/swiper.min.css' %}">
            <link rel="stylesheet" href="{% static 'kakocase/css/optimum.css' %}?V=20.08.09.07.01" type="text/css" media="all" />
            <link rel="stylesheet" href="{% static 'ikwen/css/pwa.css' %}?v=20.5.29" type="text/css" media="all" />
            {% if request.session.theme %}
                {% with theme=request.session.theme %}
                    <link rel='stylesheet' href="{% static 'kakocase/themes/' %}{{ theme.template_slug }}/{{ theme.slug }}.css" />
                {% endwith %}
                <style>
                    .apply-theme-band {
                        background-color: rgba(0, 0, 0, 0.6); bottom: 0; color: #FFFFFF; height: 15vh;
                        padding: 10px 0; position: fixed; width: 100%;
                    }
                    .apply-theme-band p {margin-bottom: 10px; text-align: center}
                    @media (min-width: 768px) {
                        .apply-theme-band {height: 12vh}
                        .apply-theme-band p {font-size: 15px; text-align: left}
                    }
                </style>
            {% elif config.theme %}
                {% with theme=config.theme %}
                    <link rel='stylesheet' href="{% static 'kakocase/themes/' %}{{ theme.template.slug }}/{{ theme.slug }}.css" />
                {% endwith %}
            {% else %}
                <link href="https://fonts.googleapis.com/css?family=Cagliostro" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,400italic,300" rel="stylesheet">
            {% endif %}
            <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700|Poppins:300,300i,400,700&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'afrobit/css/afrobit.css' %}?V=20.08.17.15.29" type="text/css" media="all" />
		{% endblock %}
        {% block head_js %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script src="{% static 'kakocase/js/jquery.min.js' %}"></script>
        <script src="{% static 'kakocase/js/main.js' %}"></script>
    </head>
    <body>
        <div id="top-notice-ctnr" style="display: none">
            <span class="floating-notice has-shade" style="float: none; position: static"> </span>
        </div>
        {% block header %}
            {% cache template_cache_duration header user.username %}
                <nav class="navbar navbar-default navbar-fixed-top header hidden-xs hidden-sm">
                    <div class="container-fluid header">
                        <div class="logo-nav  col-sm-2">
                            <div class="logo-nav-left">
                                {% url 'shopping:home' as home_url %}
                                <h1>
                                    <a href="{{ home_url }}" class="hidden-xs">
                                        <div class="company-logo-container">
                                            <img src="{% static 'afrobit/img/afrobit--logo-noir_196x100.png'  %}" alt="Logo {{ service.project_name }}"/>
                                        </div>
                                    {% if config.slogan %}<div class="slogan" title="{{ config.slogan }}"><span style="float: left; width: 500%">{{ config.slogan }}</span></div>{% endif %}
                                    </a>
                                    <a class="visible-xs">
                                        <span>{{ service.project_name }}</span>
                                    </a>
                                </h1>
                            </div>
                        </div>
                        <div class="navigator col-sm-10">
                            <ul class="nav navbar-nav">
                                <!-- Mega Menu -->
                                {% for smart_category in smart_categories_level2 %}
                                    <li class="dropdown level2 horizontal">
                                        <a href="" class="dropdown-toggle nav-menu" data-toggle="dropdown">{{ smart_category.title }} <b class="caret"></b></a>
                                        <div class="dropdown-menu full-width">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="row card-body">
                                                        <img class="col-sm-6" src="{% get_media_prefix %}{{ smart_category.image.name }}" alt="" style="margin-top: 2em"/>
                                                        <div class="col-sm-6">
                                                            <h4 class="card-title title">{{ smart_category.title }}</h4>
                                                            <ul class="card-text">
                                                            {% for obj in smart_category.get_category_queryset %}
                                                                {% if forloop.counter < 10 %}
                                                                    <li><a href="{% url 'shopping:product_list' obj.slug %}">{{ obj.name }}</a></li>
                                                                {% endif %}
                                                                {% if forloop.counter0 > 10 %}
                                                                    {% if forloop.last %}
                                                                        <li style="border-top: 3px dotted #464646; margin-top: 2vh; padding-top: 1vh"><a href="{% url 'shopping:smart_object_detail' smart_category.slug %}">{% trans "Show all..." %}</a></li>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-md-offset-1">
                                                <h4 class="card-title title">{% trans "Featured" %}</h4>
                                                {% for obj in smart_category.get_category_queryset %}
                                                    {% if forloop.counter < 4 %}
                                                        <div class="card col-md-4">
                                                            {% url 'shopping:product_list' obj.slug as product_url %}
                                                            <a href="{{ product_url }}"><img class="card-img-top" style="max-width: 100%" src= "{% get_media_prefix %}{{ obj.image.name }}"></a>
                                                            <div class="card-body text-center">
                                                                <h5 class="card-title title" style="margin-top: 1em; margin-bottom: 0.3em"><a href="{{ product_url }}">{{ obj.name }}</a></h5>
                                                                <p>{{ obj.description | safe }}</p>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                {% for smart_category in smart_categories_level1 %}
                                    <li class="dropdown horizontal">
                                        <a href="" class="dropdown-toggle nav-menu" data-toggle="dropdown">{{ smart_category.title }} <b class="caret"></b></a>
                                        <div class="dropdown-menu full-width">
                                           <div class="col-md-3">
                                               <h4 class="title">{{ smart_category.title }} <span class="pull-right cta"><a href="{% url 'shopping:smart_object_detail' smart_category.slug %}" class="btn btn-outline-success">{% trans "Browse all..." %}</a></span></h4>
                                           </div>
                                            <div class="clearfix"></div>
                                            {% for obj in smart_category.get_product_queryset %}
                                                {% if forloop.counter < 7 %}
                                                    <div class="card col-md-2">
                                                        {% url 'shopping:product_detail' obj.category.slug obj.slug as product_url %}
                                                        <a href="{{ product_url }}"><img class="card-img-top" src= "{% get_media_prefix %}{{ obj.image.name }}"></a>
                                                        <div class="card-body">
                                                            <h5 class="card-title title" style="margin-top: 1em; margin-bottom: 0.3em"><a href="{{ product_url }}">{{ obj.name }}</a></h5>
                                                            {{ obj.description | safe }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                                {% for category in menu_categories %}
                                    <li class="dropdown horizontal">
                                        <a href="" class="dropdown-toggle nav-menu" data-toggle="dropdown">{{ category.name }} <b class="caret"></b></a>
                                        <div class="dropdown-menu full-width">
                                            <div class="col-md-3">
                                                <h4 class="title">{{ category.name }} <span class="pull-right cta"><a href="{% url 'shopping:product_list' category.slug %}" class="btn btn-outline-success">{% trans "Browse all..." %}</a></span></h4>
                                            </div>
                                            <div class="clearfix"></div>
                                            {% for product in category.get_visible_products %}
                                                {% if forloop.counter < 7 %}
                                                    <div class="card col-md-2">
                                                        {% url 'shopping:product_detail' category.slug product.slug as product_url %}
                                                        <a href="{{ product_url }}"><img class="card-img-top" src= "{% get_media_prefix %}{{ product.image.name }}"></a>
                                                        <div class="card-body">
                                                            <h5 class="card-title title" style="margin-top: 1em; margin-bottom: 0.3em"><a href="{{ product_url }}">{{ category.name }}</a></h5>
                                                            <p class="card-text text-muted">{{ product.description }}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div id="auth" class="nav navbar-nav navbar-right top-right{% if user.is_anonymous %} anonymous{% endif %}">
                                <div class="dropdown cart-box">
                                    <div class="cart box_1">
                                        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <a href="{% url 'shopping:cart' %}"><i class="kkc-cart fa fa-shopping-bag"></i><span class="label label-danger simpleCart_quantity"></span></a>
                                        </div>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="margin-top: 11px; min-width: 240px">
                                            <li style="padding: 5px 15px" >
                                                <div class="pull-left">
                                                    <span class="pull-left text-muted" style="font-size: 12px"></span>
                                                    <span class="simpleCart_total pull-left" style="font-size: 21px"></span>
                                                </div>
                                                <i class="pull-right text-danger fa fa-trash" data-toggle="modal" data-target="#confirm-empty-cart"
                                                   style="cursor: pointer; font-size: 18px" title="{% trans "Empty Cart" %}"></i>
                                            </li>
                                            <li class="cart-option" style="clear: both;padding-top: 35px">
                                                <a href="{% url 'shopping:cart' %}" class="btn btn-block confirm-checkout">{% trans "Checkout" %}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% if user.is_authenticated %}
                                    <ul class="pull-left">
                                        <li id="user-menu" class="dropdown">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </a>
                                            <ul class="user-menu dropdown-menu" aria-labelledby="user-menu">
                                                <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                                <li role="separator" class="divider" style="margin-bottom: 0; width: 100%"></li>
                                                {% if user.is_staff %}
                                                    <li><a href="{% url 'ikwen:staff_router' %}">Admin</a></li>
                                                {% endif %}
                                                <li>{% url "ikwen:account_setup" as account_setup_url %}
                                                    <a href="{{ account_setup_url }}">{% trans "Account setup" %}</a>
                                                </li>
                                                <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% else %}
                                    <a class="btn button1 login" href="{% url 'ikwen:sign_in' %}">{% trans "Login" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            <div class="header-xs visible-xs visible-sm">
                <div class="container-fluid">
                    <div class="pull-left left-content v-align">
                        <button type="button" class="navbar-toggle menu-button v-align-center">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% if coupon_summary.threshold_reached and not request.COOKIES.hasPendingCoupon %}
                            <i class="fa fa-circle coupons-notification"></i>
                        {% endif %}
                        <span class="app-name">
                            <a>{{ service.project_name|truncatechars:":12" }}</a>
                        </span>
                    </div>
                    <div class="pull-right v-align" style="margin-right: 6px;">
                        <div class="xs-nav-container">
                            {% if user.is_authenticated %}
                                <div class="action dropdown" style="float: right; width: 20px">
                                    <a class="dropdown-toggle" data-toggle="dropdown" id="user-menu" aria-haspopup="true" aria-expanded="true">
                                        <div class="button-hover-handler"><i class="fa fa-user" style=" margin-left: 11px;"></i></div>
                                    </a>
                                    <ul class="user-menu dropdown-menu" aria-labelledby="user-menu" style="left: -120px">
                                        <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                        <li role="separator" class="divider" style="padding: 0"></li>
                                        {% if user.is_staff %}
                                            <li>
                                                <a href="{% url 'ikwen:staff_router' %}">Admin</a>
                                            </li>
                                        {% endif %}
                                        <li>{% url "ikwen:account_setup" as account_setup_url %}
                                            <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                        </li>
                                        <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="button-hover-handler">
                                    <a class="action" href="{% url 'ikwen:sign_in' %}">
                                        <i class="fa fa-user-circle" style="margin-right: 0"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="cd-search1" class="cd-search">
                        {% url 'shopping:search' as search_url %}
                        <form action="{{ search_url}}">
                            <input name="q" type="search" placeholder="{% trans "Search" %} ...">
                        </form>
                    </div>
                </div>
            </div>
            {% endcache %}
        {% endblock %}
        {% block banner %}{% endblock %}
        {% block content %}{% endblock %}

        {% block cart_shopping %}
        <div class="cart-shopping animated hide subtle-shade text-center" data-color="light" style="height: 55px">
            <div class="icon">
                <span class="label label-danger simpleCart_quantity"></span>
                <i class="kkc-cart fa fa-shopping-bag fa-2x"></i>
                <div class="empty-cart animated hide fadeOutDown" data-toggle="modal" data-target="#confirm-empty-cart">
                    <i class="fa fa-trash"></i>
                </div>
            </div>
            <a class="text v-align" href="{% url 'shopping:cart' %}">
                <div class="v-align-center" style="flex: auto"> {% trans "Checkout" %}</div>
            </a>
        </div>
        {% endblock cart_shopping %}

        {% block footer %}
            {% if request.session.theme %}
                <div>
                    <a href="{% url 'theming:theme_list' %}?apply=yes">{% trans "Apply" %}</a>
                </div>
            {% endif %}

            {% cache template_cache_duration footer %}
            <div class="footer-w3l hidden-xs">
                <div class="container-fluid">
                    <div class="footer-grids">
                        <div class="col-sm-6 col-md-5 footer-grid">
                            <a href=" http://shop.afrobitproductions.com/page/a-propos/"><h4> {% trans "About" %} {{ service.project_name }}</h4></a>
                            <p>{{ config.description|safe }}</p>
                        </div>
                        <div class="col-sm-6 col-md-2 col-md-offset-2 footer-grid hidden-sm">
                            <h4>{% trans "Important Pages" %}</h4>
                            <ul>
                                <li><a href="{% url 'shopping:home' %}">{% trans "Home" %}</a></li>
                                {% if config.allow_shopping and config.show_prices %}
                                    <li><a href="{% url 'shopping:cart' %}">{% trans "Checkout" %}</a></li>
                                {% endif %}
                                {% if agreement_page %}
                                    <li><a href="{% url 'flatpage' agreement_page.url %}">{{ agreement_page.title }}</a></li>
                                {% endif %}
                                {% if about_page %}
                                    <li><a href="{% url 'flatpage' about_page.url %}">{{ about_page.title }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-2 col-md-offset-1 footer-grid hidden-sm">
                            <h4>{% trans "Social" %}</h4>
                            <div class="social-icon">
                                {% if config.facebook_link %}
                                    <a href="{{ config.facebook_link }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                                {% endif %}
                                {% if config.instagram_link %}<a href="{{ config.instagram_link }}" target="_blank"><i
                                        class="fa fa-instagram"></i></a>{% endif %}
                                {% if config.twitter_link %}<a href="{{ config.twitter_link }}" target="_blank"><i
                                        class="fa fa-twitter-square"></i></a>{% endif %}
                                {% if config.google_plus_link %}
                                    <a href="{{ config.google_plus_link }}" target="_blank"><i
                                            class="fa fa-google-plus-square"></i></a>{% endif %}
                                {% if config.linkedin_link %}<a href="{{ config.linkedin_link }}" target="_blank"><i
                                        class="fa fa-linkedin-square"></i></a>{% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-md-offset-1 footer-grid foot">
                            <h4>{% trans "Contacts" %}</h4>
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 20px"></i><a href="#">{{ config.address }}</a></li>
                                {% if config.contact_phone %}
                                <li><i class="fa fa-phone" aria-hidden="true" style="font-size: 20px"></i><a href="#">{{ config.contact_phone }}</a></li>
                                {% endif %}
                                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:{{ config.contact_email }}">{{ config.contact_email }}</a></li>
                            </ul>
                        </div>
                    <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="copy-section">
                <div class="container-fluid">
                    <div class="copy-left" style="padding-left: 15px">
                        <p>&copy; {{ year }} <a href="{{ service.url}}" style="text-decoration: none"><strong>{{ config.company_name }}</strong></a>.
                            <span>{% trans "All rights reserved" %}</span>
                            - <a href="{{ settings.LEGAL_MENTIONS_URL }}" style="text-decoration: none">{% trans "Legal mentions" %}</a>
                        </p>
                    </div>
                    <div class="push-right hidden-sm hidden-xs">
                        {% include 'shopping/snippets/language_switcher.html' %}
                    </div>
{#                    <div class="copy-right">#}
{#                        <img src="{% static 'kakocase/img/card.png' %}" alt=""/>#}
{#                    </div>#}
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endcache %}
        {% endblock %}
        {% if request.session.theme %}
        <div class="apply-theme-band">
            <div class="container-fluid">
                <div class="col-sm-9">
                   <p class="hidden-xs">{% trans 'If you like this theme, click Apply to use it.' %}</p>
                   <p class="visible-xs">{% trans 'Do you like this theme ?' %}</p>
                </div>
                <div class="col-sm-3 col-lg-2 col-xs-12">
                   <a class="btn btn-success btn-block" href="{% url 'theming:theme_list' %}?apply=yes">{% trans "Apply" %}</a>
                </div>
           </div>
        </div>
        {% endif %}
        {% include 'shopping/snippets/edge_panel.html' %}
        {% include 'shopping/snippets/modal_confirm_empty_cart.html' %}
        {% include 'shopping/snippets/modal_added_to_cart.html' %}
        {% include 'shopping/snippets/modal_delivery_location_warning.html' %}
        <div id="pwa-overlay">
            <div class="text-has-shade text-center visible-xs visible-sm">
                <h3 style="color: #fff; margin: 5vh 0; font-weight: 600">{% trans "Click the button below" %}</h3>
                <div>
                    <i class="fa fa-arrow-down" style="font-size: 27px"></i>
                </div>
            </div>
        </div>
        <div class="edge-swipe-overlay"></div>
        {# modal BEGIN #}
        <div class="modal fade" id="modal-generic-notice" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header text-center">
                        <div class="illustration cover"></div>
                        <div class="illustration success" style="">

                        </div>
                        <div class="illustration error">
                            <img class="img-responsive" src="{% static 'ikwen/img/warning-icon.png' %}" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-body text-center">
                        <h4 class="title"></h4>
                        <p class="message text-muted"></p>
                        <div class="actions-container">
                            <div class="actions">
                                <div class="col-xs-12 col-sm-4 action pull-right">
                                    <a class="btn btn-lg btn-block btn-deep-blue btn-ok" aria-label="OK">{% trans "OK" %}</a>
                                </div>
                                <div class="col-xs-12 col-sm-4 pull-left action pull-left">
                                    <button data-dismiss="modal" class="btn btn-lg btn-default btn-block btn-cancel">{% trans 'Cancel' %}</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# modal END #}
        {% if service.is_pwa_ready %}
            <script src="{% static 'ikwen/js/pwa-main.js' %}"></script>
        {% endif %}
        <script src="{% static 'kakocase/js/bootstrap-3.1.1.min.js' %}"></script>
        <script src="{% static 'kakocase/js/simpleCart.min.js' %}"></script>
        <script src="{% static 'kakocase/swiper/js/swiper.min.js' %}"></script>
        <script src="{% static 'ikwen/hammerjs/hammer.min.js' %}"></script>
        <script src="{% static 'ikwen/hammerjs/jquery.hammer.js' %}"></script>
        <script src="{% static 'ikwen/js/ikwen-util.js' %}?v=20.8.6"></script>
        <script type="text/javascript">
            (function () {
                let winWidth = $(window).width();
                function toggleTrash() {
                    if ($('.empty-cart.animated').hasClass('fadeInUp')) {
                        $('.empty-cart.animated').toggleClass('fadeInUp fadeOutDown');
                        setTimeout(function () {
                            $('.empty-cart.animated').addClass('hide')
                        }, 800);
                    } else {
                        $('.empty-cart.animated').toggleClass('hide fadeInUp fadeOutDown')
                    }
                }
                {% if request.GET.refer_now %}
                    let img = "{% static 'kakocase/img/refer-friends.svg' %}",
                    title = "{% blocktrans %}Select and send a product to your follower{% endblocktrans %}",
                    message = "{% blocktrans %}Browse and choose a product your follower might like and send him the link using a Sharing button.{% endblocktrans %}",
                    url = "",
                    okText = "{% trans 'Got it !' %}";
                    ikwen.showNoticeDialog(img, title, message, url, okText);
                {% endif %}

                /* CART STUFFS */
                {% if settings.DECIMAL_SEPARATOR != '.' or settings.THOUSAND_SEPARATOR != ',' %}
                    $('#checkout-min, .item_price, .item_packing_price').each(function() {
                        var val = $(this).text().replace('{{ CURRENCY.symbol }}', '');
                        val = val.trim().replace('{{ settings.THOUSAND_SEPARATOR }}', '#')
                            .replace('{{ settings.DECIMAL_SEPARATOR }}', '.')
                            .replace('#', ',');
                        $(this).text(val)
                    });
                    $('.item-size-selector option').each(function() {
                        var val = $(this).data('retail_price_verbose'),
                            packing = $(this).data('packing_price');
                        if (val) {
                            val = val.trim().replace('{{ settings.THOUSAND_SEPARATOR }}', '#')
                                .replace('{{ settings.DECIMAL_SEPARATOR }}', '.')
                                .replace('#', ',');
                            $(this).attr('data-retail_price', val);
                        }
                        if (packing) {
                            packing = packing.trim().replace('{{ settings.THOUSAND_SEPARATOR }}', '#')
                                .replace('{{ settings.DECIMAL_SEPARATOR }}', '.')
                                .replace('#', ',');
                            $(this).attr('data-packing_price', packing);
                        }
                    });
                {% endif %}
                simpleCart.currency({
                    code: "{{ CURRENCY.code }}",
                    symbol: "{{ CURRENCY.symbol }} ",
                    accuracy: {{ CURRENCY.precision }}
                });
                simpleCart.bind('beforeAdd', function (item) {
                    if (!item.get('size')) {
                        $('.size-list').addClass('alert-danger');
                        ikwen.showFloatingNotice("<strong>{% trans "Please select a size." %}</strong>", "", 3);
                        return false
                    } else {
                        $('.size-list').removeClass('alert-danger');
                    }
                });
                simpleCart.bind('afterAdd', function (item) {
                    $('div#added-to-cart .name').text(item.get('name'));
                    let size = item.get('size');
                    if (size !== '-------')
                        $('div#added-to-cart .size').text('(' + size + ')');
                    else
                        $('div#added-to-cart .size').text('');
                    if (winWidth > 767) {
                        $('#added-to-cart').modal('show');
                    }

                });

                $('body').on('click', '.value-plus1', function () {
                    let max = $(this).data('max');
                    let divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                    if (newVal > max) {
                        ikwen.showFloatingNotice("{% trans "Available stock limit reached." %}", "", 3);
                        return;
                    }
                    divUpd.text(newVal);
                }).on('click', '.value-minus1', function () {
                    let divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                    if (newVal >= 1) divUpd.text(newVal);
                }).on('change', '.size-list .item-size-selector', function () {
                    let id =$('option:selected',this).data('id'),
                        price =$('option:selected',this).data('retail_price'),
                        packingPrice =$('option:selected',this).data('packing_price'),
                        priceVerbose =$('option:selected',this).data('retail_price_verbose'),
                        stock =$('option:selected',this).data('stock'),
                        size = $(this).val(),
                        max = stock,
                        item = simpleCart.find({'id': id})[0],
                        currency = simpleCart.currency().symbol;
                    $(this).parents('.size-list').find('.item_size').text(size);
                    $(this).parents('.simpleCart_shelfItem').find('.item_id').text(id);
                    $(this).parents('.simpleCart_shelfItem').find('.item-price-verbose').html(currency + ' ' + priceVerbose);
                    $(this).parents('.simpleCart_shelfItem').find('.item_price').text(price);
                    $(this).parents('.simpleCart_shelfItem').find('.item_packing_price').text(packingPrice);
                    $(this).parents('.simpleCart_shelfItem').find('.item_stock').text(stock);
                    if (item) max = stock - item.quantity();
                    if (max === 0) $('.simpleCart_shelfItem .value1').text(0);
                    else $('.simpleCart_shelfItem .value1').text(1);
                    $(this).parents('.simpleCart_shelfItem').find('.value-plus1').data('max', max)
                }).on('change', '.currency-switcher select', function() {
                    simpleCart.empty();
                    $(this).parents('.currency-switcher').submit()
                }).on('click', '.item_add', function () {
                    if ($('.empty-cart.animated').hasClass('fadeInUp')) { toggleTrash(); }
                    $('.cart-shopping.animated').removeClass('hide fadeOutDown').addClass('fadeInUp')
                }).on('click', '.kkc-cart', function () {
                    toggleTrash()
                }).on('click', '.simpleCart_empty', function () {
                    $('.cart-shopping.animated').toggleClass('fadeInUp fadeOutDown')
                }).on('click', '.toggle-cd-search .open', function () {
                    $(this).hide();
                    $('.toggle-cd-search .close2').show();
                    $('.cd-search').addClass('reveal').show();
                    $('.cd-search input').focus()
                }).on('click', '.toggle-cd-search .close2', function () {
                    $(this).hide();
                    $('.toggle-cd-search .open').show();
                    $('.cd-search').removeClass('reveal').show();
                    $('.cd-search input').focus()
                });
                $('#content').on('click', '.product-tile button.my-cart-b:not(.sold-out)', function () {
                    let id = $(this).data('id'),
                        image = $(this).data('image'),
                        name = $(this).data('name'),
                        description = $(this).data('description'),
                        stock = $(this).data('stock'),
                        max = stock,
                        url = $(this).parents('.product-about').find('h6 a').attr('href'),
                        $sizeRadios = $(this).parents('.product-about').find('.size-radios'),
                        $price = $(this).parents('.product-about').find('.product-price'),
                        item = simpleCart.find({'id': id})[0];
                    $('div#product-modal-preview .item_id').text(id);
                    $('div#product-modal-preview .item_image').text(image);
                    $('div#product-modal-preview .item_name').text(name);
                    $('div#product-modal-preview .item_url').text(url);
                    $('div#product-modal-preview .item_stock').text(stock);
                    $('div#product-modal-preview .target').attr('href', url);
                    $('div#product-modal-preview .description').html(description);
                    $('div#product-modal-preview .product-about .product-price').html($price.html());
                    $('div#product-modal-preview img').attr('src', image);
                    $('div#product-modal-preview .size-radios').html($sizeRadios.html());
                    if ($sizeRadios.length === 0) {
                        $('div#product-modal-preview .size-list').hide();
                        $('div#product-modal-preview .item_size').text('-------');
                        $('div#product-modal-preview .size-hint').hide();
                    } else {
                        $('div#product-modal-preview .size-list').show();
                        if ($sizeRadios.find('.choose-size').length === 1) {
                            var onlySize = $sizeRadios.find('.item-size-selector').val();
                            $('div#product-modal-preview .item_size').text(onlySize);
                            $('div#product-modal-preview .size-hint').hide();
                        } else {
                            $('div#product-modal-preview .item_size').text('');
                            $('div#product-modal-preview .size-hint').show();
                        }
                    }
                    if (item) max = stock - item.quantity();
                    if (max === 0) $('div#product-modal-preview .value1').text(0);
                    else $('div#product-modal-preview .value1').text(1);
                    $('div#product-modal-preview .value-plus1').data('max', max);
                });
                $('div#product-modal-preview').on('click', '.my-cart-b', function () {
                    if ($('div#product-modal-preview .item-size-selector').children('option').length > 1) {
                        if ($('div#product-modal-preview .item-size-selector').val() == '') {
                            $('.size-list').addClass('alert-danger');
                            ikwen.showFloatingNotice("<strong>{% trans "Please select a size." %}</strong>", "", 3);
                            return false
                        }
                    }
                    $('div#product-modal-preview').modal('hide')
                });

                //Check simpleCart_items : BEGIN
                simpleCart.load();
                if (simpleCart.quantity() > 0) {
                    $('.cart-shopping.animated:not(.fadeInUp)').removeClass('hide fadeOutDown').addClass('fadeInUp');
                    $('.simpleCart_quantity').text(simpleCart.quantity())
                }
                //Check simpleCart_items : END



                let lastScrollTop = 0;
                $(window).scroll(function () {
                        let scrollTop = $(this).scrollTop();
                        let docHeight = $(document).height();
                        let winHeight = $(window).height();
                        let scrollPercent = (scrollTop) / (docHeight - winHeight);
                        let scrollPercentRounded = Math.round(scrollPercent*100);
                        if (scrollPercentRounded !== 0) {
                            $('.dropdown-menu.full-width').addClass('scrolled')
                        }
                        if (scrollPercentRounded >= 12) {
                            $('.back-to-top').removeClass('hiding').addClass('showing')
                        } else {
                            $('.back-to-top').removeClass('showing').addClass('hiding')
                        }

                    if (winWidth < 768) {
                        if (scrollTop  > lastScrollTop ){
                            if(!($(".header-xs").hasClass('is-up'))){
                                $(".header-xs").addClass('is-up');
                            }
                        } else {
                            if($(".header-xs").hasClass('is-up')){
                                $(".header-xs").removeClass('is-up');
                            }
                        }
                        lastScrollTop = scrollTop;
                    }
                });
                $('.js-scrollTo').on('click', function() {
                    let page = $(this).attr('href');
                    let speed = 650;
                    $('html, body').animate( { scrollTop: $(page).offset().top }, speed );
                    return false;
                });

                if(!ikwen.CookieUtil.get('hasPendingCoupon')){
                    {% if coupon_summary.threshold_reached %}
                        $('body').on('click', '.header-xs .navbar-toggle', (e) => {
                            let expires = (new Date()).getTime() + 345600000;
                                expires = new Date(expires);
                                ikwen.CookieUtil.set('hasPendingCoupon', 'yes', expires);
                                $('.coupons-notification').hide();
                        });
                    {% endif %}
                }


                $("#hide-email-modal").click(function(){
                    reInitTopComponent();
                    let showEmailModal = $(this).val();
                    localStorage.removeItem('showEmailModal');
                    if (showEmailModal === 'on'){
                        localStorage.setItem('showEmailModal', true)
                    }
                    if ($(window).width() < 992) {
                        $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay')
                    }
                    $( window ).resize(ikwen.debouncer(function (e) {
                        {#var winWidth = $(window).width();#}
                        if (winWidth < 768) {
                            if (!$('#navbar-search').is(':visible')) {
                                $('#navbar-search').prependTo('body');
                                $('#navbar-search input').focus();
                            }
                            $('.edge-panel-right').addClass('has-shade').appendTo('.edge-swipe-overlay');
                        } else if (winWidth >= 768) {
                            $('#navbar-search').insertBefore('#site-menu');
                            $('.edge-panel-right').removeClass('has-shade').appendTo('.edge-panel-right-container').show();
                        }
                        if (winWidth >= 992) {
                            $('.edge-panel-left').removeClass('has-shade').appendTo('.edge-panel-left-container').show();
                        } else {
                            $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay');
                        }
                    }));
                });

                if ($(window).width() < 992) {
                    $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay')
                }
                $( window ).resize(ikwen.debouncer(function (e) {
                    if (winWidth < 768) {
                        if (!$('#navbar-search').is(':visible')) {
                            $('#navbar-search').prependTo('body');
                            $('#navbar-search input').focus();
                        }
                        $('.edge-panel-right').addClass('has-shade').appendTo('.edge-swipe-overlay');
                    } else if (winWidth >= 768) {
                        $('#navbar-search').insertBefore('#site-menu');
                        $('.edge-panel-right').removeClass('has-shade').appendTo('.edge-panel-right-container').show();
                    }
                    if (winWidth >= 992) {
                        $('.edge-panel-left').removeClass('has-shade').appendTo('.edge-panel-left-container').show();
                    } else {
                        $('.edge-panel-left').addClass('has-shade').appendTo('.edge-swipe-overlay');
                    }
                }));
                let menuCount = $(".nav.navbar-nav li.horizontal").length,
                    subMenuCount = $(".categories-menu li.vertical").length;
                if (subMenuCount >= menuCount) $(".dropdown.categories-menu").hide();
                let ulWidth = $(".navbar-nav").width() + 20;
                $(".nav-container .navbar-nav").css({float: 'none', margin: 'auto', width: ulWidth});

                function reInitTopComponent() {
                    $('.header-xs .action.dropdown').removeClass('open')
                }

                $("a.action").click(function () {
                    if($(this).parent('.button-hover-handler').hasClass('active')){
                         $(this).parent('.button-hover-handler').removeClass('active');
                    } else {
                        $(".button-hover-handler").removeClass('active');
                        $(this).parent('.button-hover-handler').addClass('active');
                    }
                });
                $("i.fa-user").click(function () {
                    $(".button-hover-handler").removeClass('active');
                    $(this).parent('.button-hover-handler').addClass('active');
                });

                function ran_col() { //function name
                    let color = '#'; // hexadecimal starting symbol
                    let letters = ['004800','780015','752201','011899','8F0193','3F0008','00193D','0E1900','21003D']; //Set your colors here
                    color += letters[Math.floor(Math.random() * letters.length)];
                    $('#no-logo').css('background', color)
                }
                ran_col();
                let mobileSwiper = new Swiper ('.xs-swiper-container', {
                    // Optional parameters
                    direction: 'horizontal',
                    loop: true,
                    spaceBetween: 10,
                    slidePosition: 0,
                    freeMode: true,
                    centeredSlides: true,
                    slidesPerView: 'auto',
                });

                $('.navbar .dropdown').hover(function() {
                    $(this).find('.dropdown-menu').first().removeClass('scrolled').stop(true, true).fadeIn(150);
                    }, function() {
                    $(this).find('.dropdown-menu').first().stop(true, true).fadeOut(105)
                }).on('click', function (e) {
                    e.stopPropagation();
                });

                // force text muted description on dropdown full-width
                $('.dropdown-menu.full-width .card-body').find('p').addClass('text-muted')

            })()
		</script>
        {% block js %}{% endblock %}
    </body>
</html>
