{% extends 'shopping/optimum/base.html' %}
{% load i18n static user_agents humanize media_from_provider currency cache %}

{% block meta %}
    {{ block.super }}
    <meta name="abstract" content="{{ product.title }} - {{ service.project_name }}"/>
    <meta name="description" content="{{ product.artist }}"/>
    <meta property="og:title" content="{{ product.title }} - {{ service.project_name }}"/>
    <meta property="og:description" content="{{ product.artist }}"/>
    <meta property="og:image" content="{{ product.artist.photo }}"/>
    <meta property="og:site_name" content="{{ service.domain|upper }}" />
{% endblock %}

{% block page_title %}
    <title>{{ product.title }} - {{ service.project_name }}</title>
{% endblock %}
{% block head_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ikwen/swiper/css/swiper.min.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'afrobit/css/music-item-detail.css' %}?v=20.08.11" type="text/css" media="screen" />
{% endblock %}

{% block header %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>

    <div id="top-notice-ctnr" style="display: none">
        <span class="floating-notice has-shade" style="float: none; position: static"> Error goes here </span>
    </div>
    {{ block.super }}
{% endblock %}

{% block content %}
{#    {% cache 300 music_item_detail_content product.artist.slug product.slug %}#}
    <div class="content">
        <div class="container">
            <div class="artist">
                <div class="recent-left profile">
                    <div class="photo" style="background-image: url({% get_media_prefix %}{{ product.image.small_name }});"></div>
                    <div class="clearfix"></div>
                </div>
                <h4 class="name text-center">{{ product.artist }}</h4>
                <div class="col-sm-offset-2 col-sm-8 personal-detail" style="{% if not product.song_set and not product.download_link %}display: none{% endif %}">
                    {% if product.song_set or product.download_link %}
                        <ul class="col-sm-6">
                            <li><h1>{{ product.title }}</h1></li>
                            <li class="cost"><sup>{{ CURRENCY.symbol }}</sup><strong>{{ product.cost|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</strong></li>
                        </ul>
                        <div class="clearfix visible-xs"></div>
                    {% endif %}
                    <div class="col-sm-6">
                        {% if not product.song_set and product.download_link %}
                            <a href="{{ product.download_link }}" data-text="Buy Song" class="btn btn-sm btn-deep-blue purchase-album col-xs-10 col-sm-10 col-sm-offset-2" data-is-music="music" style="display: block">
                                <i class="fa-download fa" style="margin-right: 10px"></i>{% trans "Download" %}
                                <div class="mask"></div>
                            </a>
                        {% elif product.song_set %}
                            <button data-text="Buy Album" class="btn btn-sm btn-deep-blue purchase-album col-xs-10 col-sm-10 col-sm-offset-2" data-is-music="music">
                                {% trans "Buy album" %}
                                <div class="mask"></div>
                            </button>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix" style="{% if not product.song_set and not product.download_link %}display: none{% endif %}"></div>
                <div class="songs">
                    {% if product.song_set %}
                        <ul>
                            {% for song in product.song_set.all %}
                                <li class="has-shade simpleCart_shelfItem">
                                    <div class="hidden-xs col-sm-12 cover-image" style="background-image: url({% get_media_prefix %}{{ song.image }});"></div>
                                    <span class="hidden item_id">{{ song.id }}</span>
                                    <span class="hidden item_url">{% url 'music_item_detail' song.artist.slug song.slug %}</span>
                                    <span class="hidden item_price">{{ song.cost|currency:CURRENCY.code }}</span>
                                    <span class="hidden item_type">music</span>
                                    <span class="hidden item_image">{% get_media_prefix %}{{ song.image.small_name }}</span>
                                    <span class="hidden item_quantity">1</span>
                                    <span class="hidden item_packing_price">0</span>
                                    <span class="hidden item_size">-------</span>
                                    <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-sm-offset-1 col-xs-12 ">
                                        <div class="title">
                                            <h4>{{ song.title|truncatechars:28 }}</h4>
                                        </div>
                                        <audio id="listen" controls controlsList="nodownload">
                                            <source src="{% get_media_prefix %}previews/{{ song.media.name }}" type="audio/mp3">
                                        </audio>
                                    </div>
                                    <div class="col-lg-2 col-lg-offset-3 col-sm-3 col-xs-12">
                                        <div class="actions">
                                            <div class="cost">
                                                <sup>{{ CURRENCY.symbol }}</sup>
                                                <strong>{{ song.cost|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</strong>
                                                <div class="clearfix"></div>
                                            </div>
                                            <button data-text="Add To Cart" class="my-cart-b item_add" data-is-music="music">
                                                {% trans "Add To Cart" %}
                                                <div class="mask"></div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul>
                            {% with song=product %}
                                <li class="has-shade simpleCart_shelfItem">
                                    <span class="hidden item_id">{{ song.id }}</span>
                                    <span class="hidden item_url">{{ request.META.path }}</span>
                                    <span class="hidden item_price">{{ song.cost|currency:CURRENCY.code }}</span>
                                    <span class="hidden item_type">music</span>
                                    <span class="hidden item_image">{% get_media_prefix %}{{ song.image.small_name }}</span>
                                    <span class="hidden item_quantity">1</span>
                                    <span class="hidden item_packing_price">0</span>
                                    <span class="hidden item_size">-------</span>
                                    <div class="hidden-xs col-sm-12 cover-image" style="background-image: url({% get_media_prefix %}{{ song.cover }});"></div>
                                    <div class="col-lg-5 col-lg-offset-1 col-sm-6 col-sm-offset-1 col-xs-12 ">
                                        <div class="title">
                                            <h4>{{ song.title|truncatechars:28 }}</h4>
                                        </div>
                                        <audio id="listen" controls controlsList="nodownload">
                                            <source src="{% get_media_prefix %}previews/{{ song.media.name }}" type="audio/mp3">
                                        </audio>
                                    </div>
                                    <div class="col-lg-2 col-lg-offset-3 col-sm-3 col-xs-12">
                                        <div class="actions">
                                            <div class="cost">
                                                <sup>{{ CURRENCY.symbol }}</sup>
                                                <strong>{{ song.cost|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</strong>
                                                <div class="clearfix"></div>
                                            </div>
                                            <button data-text="Add To Cart" class="my-cart-b item_add" data-is-music="music">
                                                {% trans "Add To Cart" %}
                                                <div class="mask"></div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% endwith %}
                        </ul>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                {% if product.song_set %}
                    <div class="text-center bottom-side">
                        <span>{% trans 'Album cost:' %}</span>
                        <sup>{{ CURRENCY.symbol }}</sup>
                        <strong>{{ product.cost|currency:CURRENCY.code|floatformat:CURRENCY.precision|intcomma }}</strong>
                        <div class="clearfix"></div>
                        <button data-text="Buy Album" class="btn btn-sm btn-deep-blue purchase-album col-xs-10 col-sm-6 col-md-4" data-is-music="music">
                            {% trans "Buy album" %}
                            <div class="mask"></div>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{#    {% endcache %}#}
{% endblock %}

{% block js %}
    {{ block.super }}
    {{ config.scripts|safe }}
{% endblock %}
