{% load i18n staticfiles %}
 <div class="modal fade" id="suggest-login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 style="margin-top: 15px">{% trans "Please, Sign in..." %}</h3>
            </div>
            <div class="modal-body">
                <h5 style="line-height: 27px; margin: 5px 0">
                    Sign in to <strong>complete your purchases</strong><br>
                    and enjoy many exclusive advantages!
                </h5>
                <div style="margin: 20px 0">
                    <a href="#" class="btn btn-lg btn-outline-success connect" style="min-width: 240px">Sign in</a>
                </div>
                <div class="col-md-6">
                    <div style="margin: 10px 0" class="anonymous-cta">
                        <a href="{% url 'shopping:checkout' %}" class="start-checkout text-muted">{% trans "Continue without signing in" %}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="margin: 10px 0" class="new-user-cta">
                        <a href="#" class="register" >{% trans "Create account and continue" %}</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-header.custom { border-color: #e4c059 }
    .modal-content.custom {
        background-color: #e2dab0;
        background-image: url('{% static 'afrobit/img/background-cube-afrobit.png' %}');
        background-size: cover;
    }

    @media (min-width: 768px){
        .modal-content.custom {
            background-position-y: -50px;
        }
        .anonymous-cta { float: left }
        .new-user-cta { float: right }
    }
</style>